[submodule "commits"]
	path = commits
	url = git@github.com:/guyromm/github-commits
[submodule "noodles"]
	path = noodles
	url = git.ezscratch.com:/NoodlesFramework.git
[submodule "orgile"]
	path = orgile
	url = https://github.com/mashdot/orgile
[submodule "gantt"]
	path = gantt
	url = https://github.com/robicch/jQueryGantt
