<html>
<head>
<style type='text/css'>
textarea.content {
width:100%;
height:150px;
}
input.summary {
width:100%;
font-size:130%;
}
iframe.rndr {
width:100%;
height:300px;
}
.msg {
font-weight:bold;
color:red;
}
.ralign {
text-align:right;
}
table.taskslist {
width:100%;
}
.taskslist th {
background-color:#abc;
}
.sumcln {
width:30%;
}
.tagcln {
width:10%;
}
.odd {
background-color:#ddd;
}
</style>
</head>
<body>
  <a accesskey="h" href="${upr}/"><b>h</b>ome</a> :: \
  <a accesskey="i" href="${upr}/iterations"><b>i</b>terations list</a> :: \
  <a accesskey="p" href="${upr}/participants"><b>p</b>articipants</a> :: \
  <a accesskey="n" href="${upr}/s/new"><b>n</b>ew task</a> :: \
  ${self.content()}
</body>
</html>
<%def name="list_tasks(tasks)">
<table class='taskslist'>
<thead>
  <tr>
    <th>iteration</th>
    <th>id</th>
    <th>status</th>
    <th>assignee</th>    
    <th>commits</th>
    <th>last commit</th>
    <th>hours</th>
    <th>tags</th>
    <th>summary</th>
  </tr>
</thead>
<tbody>
<% 
cnt=0 
%>
% for t in tasks:
<%
if 'priority' in t['tags']:
  pritag='<b>'
  prietag='</b>'
else:
  pritag=''
  prietag=''
%>
% if t.get('meta') and t.get('meta').get('lastcommits'):
<% lcom = max([lc for lc in t.get('meta').get('lastcommits').values()]) %>
% else:
<% lcom = '--' %>
% endif
<tr \
% if cnt %2 ==0:
class='odd'
% endif
>
  <td><a href="${upr}/iteration/${t['iteration']}">${t['iteration']}</a></td>
  <td>
${''.join(['&nbsp;&nbsp;' for i in range(len(t['story'].split('/'))-1)])}
${pritag}<a href="${upr}/s/${t['story']}" title="${t['summary']|h}">${t['story']}</a>${prietag}</td>
  <td>${t['status']}</td>
  <td><a href="${upr}/assignments/${t['assigned to']}">${t['assigned to']}</a></td>
  <td class='ralign'>${t.get('meta').get('commits_qty',0)}</td>
  <td>${lcom}</td>
  <td class='ralign'>${"%4.1f"%t.get('total_hours',0)}</td>
  <td class='tagcln'>${', '.join(t['tags'])}</td>
  <td class='sumcln' title="${t['summary']|h}">${pritag}${len(t['summary'])<40 and t['summary'] or t['summary'][0:40]+'..'}${prietag}</td>
</tr>
<% cnt+=1 %>
% endfor
</tbody>
</table>
</%def>
