<html>
<head>
<style type='text/css'>
textarea.content {
width:100%;
height:150px;
}
input.summary {
width:100%;
font-size:130%;
}
iframe.rndr {
width:100%;
height:300px;
}
.msg {
font-weight:bold;
color:red;
}
.ralign {
text-align:right;
}
table.taskslist {
width:100%;
}
.taskslist th {
background-color:#abc;
}
.sumcln {
width:30%;
}
.tagcln {
width:10%;
}
.odd {
background-color:#ddd;
}
.search {
float:right;
}
.textlike {
color:black;
text-decoration:none;
}
</style>
<script type='text/javascript' src='${upr}/zepto.min.js'></script>
<script type='text/javascript'>
$(function() {
$('.metastate-sel').on('change',function(ev) {
var k = ev.target.name;
var v = ev.target.value;
if (!v) { alert('setting empty value is forbidden.');ev.preventDefault(); return; } 
$.post("${upr}/metastate-set",{k:k,v:v},function (resp) {
if (!resp.status || resp.status!='ok') alert('error updating!\n'+resp);
},'json');
});
});
</script>
</head>
<body>
  <a accesskey="h" href="${upr}/"><b>h</b>ome</a> :: \
  <a accesskey="o" href="${upr}/tl">t<b>o</b>p level</a> :: \
  <a accesskey="g" href="${upr}/tags">ta<b>g</b>s</a> :: \
  <a accesskey="p" href="${upr}/participants"><b>p</b>articipants</a> :: \
  <a accesskey="n" href="${upr}/s/new"><b>n</b>ew task</a> :: \
  <a accesskey="l" href="${upr}/journal">journa<b>l</b></a> :: \
  <a accesskey="q" href="${upr}/q"><b>q</b>ueue</a> :: \
  <form class='search' method='get' action='${upr}/search'>
    <input type='text' name='q' value="${request.params.get('q','')|x}" accesskey='/' />
    <input type='submit' value='Search' />
  </form>
  ${self.content()}
</body>
</html>
<%def name="metastate_sel(tid,k,v,colors,possible_metastates,overrides,fullstates,allow_empty=False)">
<select \
        class='metastate-sel' \
        name='metastate-${tid}-${k}' \
        style='background-color:${colors.get(v)}' \
        onchange="this.style.backgroundColor=this.options[this.selectedIndex].style.backgroundColor"
>
<% empties = ['',None] %>
% for pm in (allow_empty and (possible_metastates[k]+('',)) or possible_metastates[k]):
<option style='background-color:${colors.get(pm)}' value="${pm}"
        ${(pm==v or (pm in empties and v in empties))  and 'selected' or ''}>\
<% print pm,overrides.get(pm) %>
  ${(pm in overrides and eval(overrides[pm]) or pm)}</option>
% endfor
</select>
</%def>
<%def name="list_tasks(tasks,header=True,body=True,footer=True,cnt={'cnt':0})">
% if header:
<table class='taskslist'>
<thead>
  <tr>
    <th>created</th>
    <th>id</th>
    <th>status</th>
    <th>assignee</th>    
    <th>tags</th>
    <th>summary</th>
    <th>parents</th>
  </tr>
</thead>
<tbody>
% endif
% if body:
% for t in tasks:
<%
if 'priority' in t['tags']:
  pritag='<b>'
  prietag='</b>'
else:
  pritag=''
  prietag=''
%>
<tr \
% if cnt['cnt'] %2 ==0:
class='odd'
% endif
>
  <td>${t['created at'].date()}</td>
  <td>
${pritag|n}<a href="${upr}/${t['story']}" title="${t['summary']|h}">${t['story']}</a>${prietag|n}</td>
  <td>${t['status']}</td>
  <td><a href="${upr}/assignments/${t['assigned to']}">${t['assigned to']}</a></td>
  <td class='tagcln'>${', '.join(t['tags'])}</td>
  <td class='sumcln'
  title="${t['summary']|h}"><a class='textlike' href="${upr}/${t['story']}">${pritag|n}${len(t['summary'])<40 and  t['summary'] or t['summary'][0:40]+'..'}${prietag|n}</a></td>
  <td style='text-align:right'>
<% mlen = 30 %>
% if t.get('pdescrs'):
% for pid,psum in t['pdescrs']:
<a title="${psum}" href="${upr}/${pid}">${(len(psum)<=mlen and psum or (psum[0:mlen]+'..'))}</a> &#8250;
% endfor
% endif
</td>

</tr>
<% cnt['cnt']+=1 %>
% endfor
% endif
% if footer:
</tbody>
</table>
% endif
</%def>
