<%inherit file="/base.html" />
<%def name="content()">
<h2>Participants</h2>
<table class='taskslist'>
<thead>
  <tr>
    <th>Name</th>
    <th>Tasks</th>
    <th>E-Mail</th>
    <th>Skype</th>
  </tr>
</thead>
<tbody>
<% cnt =0 %>
% for p,dt in pts:
<tr \
% if cnt % 2 ==0:
class='odd'\
% endif
>
  <td>${p}</td>
  <td>[ 
    <a href="${upr}/assignments/${p}">assigned to</a>  :: 
    <a href="${upr}/created/${p}">created by</a> ::
    <a href="${upr}/journal/by/${p}">journal entries</a> ::
    ]
  </td>
  <td><a href="mailto:${dt['E-Mail']}">${dt['E-Mail']}</a></td>
  <td>
% if dt.get('Skype'):
% if '[' in dt.get('Skype'):
<a href="${dt['Skype'].split('][')[0].strip('[]')}">${dt['Skype'].split('][')[1].strip('[]')}</a>
% else:
<a href="skype:${dt['Skype']}">${dt['Skype']}</a>
% endif
% endif
</td>
</tr>
<% cnt+=1 %>
% endfor
</tbody>
</table>
</%def>
