<%inherit file="/base.html" />
<%def name="content()">
<table>
<thead>
  <tr>
    <th>last upd</th>
    <th>assignee</th>
    <th>task</th>
    <th>summary</th>
    <th>status</th>
    % for ms in metastates:
    <th>${ms}</th>
    % endfor
  </tr>
</thead>
<% cnt=0 %>
% for tid,upd in queue:
<% cnt+=1 %>
<tr ${cnt % 2 ==0 and "class='odd'" or ''|n}>
  <td>\
<a href="${upr}/s/${tid}/j">${upd.get('last updated') and upd.get('last updated','') or '--'}</a></td>
  <td>${upd['assignee']}</td>
  <td><a href="${upr}/s/${tid}">${tid}</a></td>
  <td>${upd['summary']}</td>
  <td>${upd['status']}</td>
  % for ms in metastates:
  <td \
% if upd['states'].get(ms) in colors:
style='background-color:${colors[upd['states'].get(ms,'')]}'\
% endif
>${upd['states'].get(ms) in overrides and eval(overrides[upd['states'].get(ms)]) or upd['states'].get(ms,'')}</td>
  % endfor
</tr>
% endfor
</table>
</%def>
