<%inherit file="/base.html" />
<%def name="content()">
<p>
<a href="${upr}/q">personal queue</a> :: 
<a href="${upr}/q/all" accesskey="t">en<b>t</b>ire queue</a></p>
<hr /> 
<table>
<thead>
  <tr>
    <th>last upd</th>
    <th>misc</th>
    <th>assignee</th>
    <th>task</th>
    <th>summary</th>
    <th>status</th>
    % for ms in metastates:
    <th>${ms}</th>
    % endfor
    <th>last entry</th>
  </tr>
</thead>
<% cnt=0 %>
% for tid,upd in queue:
<% cnt+=1 %>
<tr ${cnt % 2 ==0 and "class='odd'" or ''|n}>
  <td>\
<a href="${upr}/${tid}/j">${upd.get('last updated') and  upd.get('last updated','') or '--'}</a></td>
  <td>
    % for item in ['specs','merge','job']:
    % if item in upd and len(upd[item]):
    <a href="${upd[item][0]}">${item}</a>
    % endif
    % endfor
  </td>
  <td>${upd['assignee']}</td>
  <td><a href="${upr}/${tid}">${tid}</a></td>
  <td>${upd['summary']}</td>
  <td>${upd['status']}</td>
  % for ms in metastates:
  <td>
    ${self.metastate_sel(tid,ms,upd['states'].get(ms),colors,metastates,overrides,upd['fullstates'],allow_empty=True)}
  </td>
  % endfor
  <td class='lupd'>\
    ${upd.get('last entry') and upd['last entry'].get('value')+' -  '+upd['last entry']['updated by'] or ''|n}\
  </td>
</tr>
% endfor
</table>
</%def>
